<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src="/uno/js/lobby.js"></script>
  </head>
  <body>
    <h1>
      Websocket status:
      <span id="ws"></span>
      <button onmousedown="conn = websocket_connect('ws')">reload</button>
    </h1>
    <button onmousedown="window.location.href = '/uno';">Go back</button>
    <h1>Lobby <span id="id">{{.Id}}</span></h1>
    <button onmousedown="startLobby()">Start</button>
    <h2>
      State:
      <span id="state"
        >{{if eq .State 0}}Ready{{else if eq .State 1}}Ongoing{{else if eq .State 2}}Done{{else}} Something went
        wrong...{{end}}</span
      >
    </h2>
    <h2>Players:</h2>
    <ul id="players">
      <li>{{.Leader.Name}} (leader) {{if .Leader.Current}}(you){{end}} {{if .Leader.Active}}/{{else}}X{{end}}</li>
      {{range $index, $player := .Players}}
      <li>{{$player.Name}} {{if $player.Current}}(you){{end}} {{if $player.Active}}/{{else}}X{{end}}</li>
      {{end}}
    </ul>

    <h3>Chat</h3>
    <div id="log">
      <form id="form">
        <input type="text" id="msg" size="64" autofocus />
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
